/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-8-1, 17:36:21
    Author     : feng
*/
/*.table font .margin {margin: 15px;}

p{
    font:14px/30px Arial,宋体,微软雅黑;
}
.form-control{
    width: 50%;
    display:inline-block;
}

div label{
    display: inline-block!important;
    margin-left: 20px;
}*/
.table {width: 1100px;}