/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-7-5, 13:58:21
    Author     : feng
*/
a {
    color: #3B96CB;
    text-decoration:none;
}

.font{
    width: 30px !important;
}



