/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-7-29, 14:44:30
    Author     : feng
*/

.table tr td.text_left div span{color: #fff;}

.table{width: 1100px;}

.select2-chosen{color: #fff;}